<!doctype html>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="static/jquery.visible.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('message', function(msg) {
            $("#chatlog").append('<li class="full-width ">' + msg.body + '</li>');
            while ($('#chatlog li').last().visible() === false) {
                $('#chatlog li').first().remove();
            }
        });
    });
</script>
<link rel="stylesheet" href="https://player.twitch.tv/css/player.css">
<link rel="stylesheet" href="https://web-cdn.ttvnw.net/styles/application-0fa6ef9268e043c023dfea86aeff7a02.css">
<link rel="stylesheet" href="https://cdn.betterttv.net/css/betterttv.css?v=7.0.29">
<link rel="stylesheet" href="https://cdn.betterttv.net/css/betterttv-dark.css?v=7.0.29">
<link rel="stylesheet" href="https://cdn.betterttv.net/css/betterttv-hide-recommended-channels.css?v=7.0.29">
<link rel="stylesheet" href="https://web-cdn.ttvnw.net/styles/twilight/core-4a4a70c7c2b9d9ebcbcad1b8c739ad36.css">
<style>
    body {
        overflow:hidden;
    }
</style>
<title>Twitch chat</title>
<div class=page>
    <ul id="chatlog" class="full-width align-items-end flex" style="min-height: 0px;"></ul>
</div>